* {
    font-family: "JetBrainsMono Nerd Font Propo", monospace;
    font-size: 15px;
    font-weight: bold;
    border: none;
    min-height: 0;
}

window#waybar {
    background: linear-gradient(to bottom, #2f2f2f, #2a2a2a);
    border-bottom: none;
    color: #ebdbb2;
}

#window {
    background: transparent;
    color: #ebdbb2;
    margin: 0;
    padding: 0 8px;
    border-radius: 0;
}

#language,
#memory,
#cpu,
#custom-temperature,
#battery,
#clock,
#power-profiles-daemon,
#tray {
    margin: 6px 2px;
    padding: 0 11px;
    border-radius: 6px;
    min-height: 29px;
}

#tray {
    padding: 0 8px;
    font-size: 12px;
    background: linear-gradient(to bottom, #4f4844, #3f3835);
    color: #ebdbb2;
}

#language {
    background: linear-gradient(to bottom, #4f4844, #3f3835);
    color: #ebdbb2;
    font-family: "JetBrainsMono Nerd Font Propo", "Noto Color Emoji", sans-serif;
}

/* Цвета модулей */
#memory {
    background: linear-gradient(to bottom, #e0af4a, #c49632);
    color: #282828;
}

#cpu {
    background: linear-gradient(to bottom, #d5c4a1, #b8a785);
    color: #282828;
}

#custom-temperature {
    background: linear-gradient(to bottom, #83a598, #6f8f8a);
    color: #282828;
}

#battery {
    background: linear-gradient(to bottom, #97b87a, #7d9e62);
    color: #282828;
}

#clock {
    background: linear-gradient(to bottom, #d5c4a1, #b8a785);
    color: #282828;
}

/* Профили питания */
#power-profiles-daemon {
    background: linear-gradient(to bottom, #555, #444);
    color: #ebdbb2;
}

#power-profiles-daemon.power-saver {
    background: linear-gradient(to bottom, #97b87a, #7d9e62);
    color: #282828;
}

#power-profiles-daemon.balanced {
    background: linear-gradient(to bottom, #83a598, #6f8f8a);
    color: #282828;
}

#power-profiles-daemon.performance {
    background: linear-gradient(to bottom, #e0af4a, #c49632);
    color: #282828;
}

/* Workspaces */
#workspaces {
    margin-left: 2px;
}
#workspaces button {
    background: linear-gradient(to bottom, #4f4844, #3f3835);
    color: #ebdbb2;
    margin: 6px 2px;
    padding: 0 11px;
    border-radius: 6px;
    min-height: 29px;
}
#workspaces button.active {
    background: linear-gradient(to bottom, #83a598, #6f8f8a);
    color: #282828;
}
#workspaces button:hover {
    background: linear-gradient(to bottom, #675e57, #514a44);
}

/* Tooltips */
tooltip {
    background: #282828;
    border: 1px solid #504945;
}
tooltip label {
    color: #ebdbb2;
}
